#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding: 10% 20%;
  }
  
.m-r40 {
    margin-right: 40px;
}

.m-t20 {
    margin-top: 20px;
}
  

.margin-auto {
    margin: auto;
  }
  
  .m-b97 {
    margin-bottom: 97px !important;
  }
  
  .m-b0 {
    margin-bottom: 0px !important;
  }
  
  .m-r13 {
    margin-right: 13px !important;
  }
  
  .m-r32 {
    margin-right: 32px !important;
  }
  
  .flex {
    display: flex;
  }
  
  .initial-display {
    display: initial;
  }
  
  .between-h {
    justify-content: space-between;
  }
  
  .weight-300 {
    font-weight: 300 !important;
  }
  
  .robotoFontLight {
    font-family: $robotoFontLight !important;
  }
  
  .red-text {
    color: $red-color !important;
  }
  
  .red-border {
    border-color: $red-color !important;
  }
  
  .green-text {
    color: $green-color !important;
  }
  
  .left-text {
    text-align: left;
  }
  
  .right-text {
    text-align: right;
  }
  
  .m-b5 {
    margin-bottom: 5px !important;
  }
  
  .m-t0 {
    margin-top: 0px;
  }
  .green-border {
    border-color: $green-color !important;
  }
  
  .no-bottom-border {
    border-bottom: none;
  }
  
.light-gray-bottom-border {
    border-bottom: 1px solid $light-gray-color;
  }

  
.total-container {
    display: flex;
    justify-content: flex-end;
    padding: 14px 64px;
    border-top: 1px solid $light-gray-color;
    border-bottom: 1px solid $light-gray-color;
    margin-top: 100px;
  }
  
  .green-boder-top-bottom {
    border-top: 1px solid $green-color !important;
    border-bottom: 1px solid $green-color;
  }
  
  .today-txt-style {
    color: $gray-color-level-5;
    font-family: $robotoFont;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
  }
  
  .period-number-txt-style {
    padding-top: 6px;
    margin: 0px;
    color: $gray-color-level-4;
    font-family: $robotoFont;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
  }
  
  .current-period-txt-style {
    color: $gray-color-level-1;
    font-family: $robotoFont;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
  }
  
  .begin-end-txt-style {
    color: $gray-color-level-3;
    font-family: $robotoFontMeduim;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
  }
  
  .time-style {
    color: $gray-color-level-5;
    font-family: $robotoFontMeduim;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
  }
  
  .total-time-txt-style {
    color: $gray-color-level-2;
    font-family: $robotoFont;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
  }
  
  .defaultPeriodeContainerStyle {
    padding: 23px 64px;
    border-top: 1px solid $light-gray-color;
  }
  
  .period-number-txt-style {
    color: $gray-color-level-4;
    font-family: $robotoFont;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
  }


  .default-button-icon {
    width:13px;
    height:15.89px;
    margin-right: 10px;
  }

  .default-button {
    border: 1px solid $black-color;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $transparent;
    padding: 8px 9px 8px 12px;
    color: $black-color;
    font-family: $robotoFont;
    display: flex;
    align-items: center;
  }