
  @font-face {
    font-family: "Roboto-Light";
    src: local("Roboto-Light"),
    url(@/assets/fonts/Roboto-Light.ttf) format("truetype");
  };

  @font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto-Regular"),
    url(@/assets/fonts/Roboto-Regular.ttf) format("truetype");
  };

  @font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto-Medium"),
    url(@/assets/fonts/Roboto-Medium.ttf) format("truetype");
  };

  @font-face {
    font-family: "Roboto-Bold";
    src: local("Roboto-Bold"),
    url(@/assets/fonts/Roboto-Bold.ttf) format("truetype");
  };

$red-color:#CC5252; 
$green-color: #60B669;
$black-color: #000000;
$light-gray-color: #E8E8E8;
$gray-color-level-1: #999999;
$gray-color-level-2: #6A7480;
$gray-color-level-3: #6B7581;
$gray-color-level-4: #6D7783;
$gray-color-level-5: #415C73;
$transparent: transparent;
$robotoFontLight: "Roboto-Light";
$robotoFont: "Roboto-Regular";
$robotoFontMeduim: "Roboto-Medium";
$robotoFontBold: "Roboto-Bold";